.stats {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 16px;
  border: 2px solid #1A1A1A;
  margin-top: 14px;
}
.stats__item,
.stats__item-button {
  color: #DA9E8B;
  padding: 20px 0 8px;
  background-color: #1A1A1A;
  text-align: center;
  width: 16%;
  border-radius: 12px;
}
.stats__number {
  font-size: 34px;
  font-weight: 600;
}
.stats__label {
  color: #B3B3B2;
  font-weight: 500;
  font-size: 14px;
}
.stats__item-button {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  padding: 0;
}
.stats__label-button {
  font-weight: 600;
  font-size: 16px;
  color: #B3B3B2;
}
.stats__item-button-img {
  width: 48px;
  height: 48px;
}
