.page {
  max-width: 95%;
  margin: 0 auto;
}
html {
  background-color: #0F0F0F;
}
h3 {
  font-size: 20px;
}
h2 {
  font-size: 38px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  background-color: #1A1A1A;
}
.header__logo {
  font-size: 28px;
  font-weight: bold;
  color: #676665;
  padding: 35px 40px;
}
.header__nav {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 20px;
}
.header__nav-item {
  font-size: 14px;
  padding: 14px 20px;
  color: #81807E;
  background-color: #0F0F0F;
  border-radius: 12px;
}
.header__nav-item:first-child {
  margin-left: 0;
}
.header__nav-link {
  text-decoration: none;
  color: #81807E;
  transition: color 0.3s;
}
